<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Provinces</title>
</head>
<body>
<h2>Add new province</h2>
<p>
    <a th:href="@{/provinces}">
        Back to provinces list
    </a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-province}" th:object="${province}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table border="1">
        <tr>
            <td>Province name: </td>
            <td><input type="text" th:field="*{provinceName}"/></td>
        </tr>
    </table>
    <input type="submit" value="Create">
</form>
</body>
</html>