<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Input PhoneNumber</title>
</head>
<body>
<form action="#" th:action="@{/phone}" th:object="${phoneNumber}"
      method="post">
    <table>
        <tr>
            <td>PhoneNumber</td>
            <td><input type="tel" required pattern="[0][0-9]{9}" th:field="*{number}"/></td>
            <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></td>
        </tr>
    </table>
    <button type="submit">submit</button>
</form>
</body>
</html>